MONGODB_URI=mongodb://localhost:27017/ugcfreepaper
GOOGLE_CLIENT_ID=438632821836-08ksq83bin8347l052n7i29083c2fnr9.apps.googleusercontent.com
PORT=5000

# Zoho SMTP Email Configuration
EMAIL_HOST=smtppro.zoho.com
EMAIL_PORT=465
EMAIL_USER=support@ugcfreepaper.com
EMAIL_PASS=your_zoho_app_password
